emr_via_sf.json
{
  "Comment": "An example EMR State Machine",
  "StartAt": "Create an EMR cluster",
  "States": {
    "Create an EMR cluster": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:createCluster.sync",
      "Parameters": {
        "Name": "EMR-6.2.0",
        "VisibleToAllUsers": true,
        "ReleaseLabel": "emr-6.2.0",
        "AutoTerminationPolicy": {
          "IdleTimeout": 900
        },
        "Applications": [
          {
            "Name": "Spark"
          },
          {
            "Name": "Hadoop"
          }
        ],
        "ServiceRole": "<EMR_Role>",
        "JobFlowRole": "<EMR_EC2_Role>",
        "LogUri": "<logs-uri>",
        "Instances": {
          "KeepJobFlowAliveWhenNoSteps": true,
          "InstanceFleets": [
            {
              "Name": "MyMasterFleet",
              "InstanceFleetType": "MASTER",
              "TargetSpotCapacity": 1,
              "LaunchSpecifications": {
                "SpotSpecification": {
                  "TimeoutDurationMinutes": 20,
                  "TimeoutAction": "SWITCH_TO_ON_DEMAND"
                }
              },
              "InstanceTypeConfigs": [
                {
                  "InstanceType": "m5.xlarge",
                  "EbsConfiguration": {
                    "EbsBlockDeviceConfigs": [
                      {
                        "VolumeSpecification": {
                          "VolumeType": "gp3",
                          "SizeInGB": 15
                        },
                        "VolumesPerInstance": 1
                      }
                    ],
                    "EbsOptimized": "False"
                  }
                }
              ]
            },
            {
              "Name": "MyCoreFleet",
              "InstanceFleetType": "CORE",
              "TargetSpotCapacity": 1,
              "LaunchSpecifications": {
                "SpotSpecification": {
                  "TimeoutDurationMinutes": 20,
                  "TimeoutAction": "SWITCH_TO_ON_DEMAND"
                }
              },
              "InstanceTypeConfigs": [
                {
                  "InstanceType": "m5.xlarge",
                  "EbsConfiguration": {
                    "EbsBlockDeviceConfigs": [
                      {
                        "VolumeSpecification": {
                          "VolumeType": "gp3",
                          "SizeInGB": 15
                        },
                        "VolumesPerInstance": 1
                      }
                    ],
                    "EbsOptimized": "False"
                  }
                }
              ]
            }
          ]
        }
      },
      "ResultPath": "$.cluster",
      "Next": "Run first step"
    },
    "Run first step": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
      "Parameters": {
        "ClusterId.$": "$.cluster.ClusterId",
        "Step": {
          "Name": "First EMR step",
          "ActionOnFailure": "CONTINUE",
          "HadoopJarStep": {
            "Jar": "command-runner.jar",
            "Args": [
              "spark-submit",
              "--deploy-mode",
              "cluster",
              "<test.py>"
            ]
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultPath": "$.firstStep",
      "Next": "Terminate Cluster"
    },
    "Terminate Cluster": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:terminateCluster.sync",
      "Parameters": {
        "ClusterId.$": "$.cluster.ClusterId"
      },
      "End": true
    }
  }
}